<html>
	<link rel="stylesheet" href="/static/style_login_admin.css" type="text/css">
		<form action="/admin_user_search" method="POST">
			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<h1>Enter user id</h1>
					</div>
					<div class="login-form">
						<div class="control-group">
							<input type="text" class="login-field" value="" placeholder="User ID" name="user_id">
							<label class="login-field-icon fui-user" for="login-name">
							</label>
						</div>
						<input type="submit" value="Search" class="btn btn-primary btn-large btn-block">
					</div>
				</div>
			</div>
		</form>
</html>
