<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/style_index.css" type="text/css">
    <body>
        <form action="/login" method="post">
            <div class="login">
                <div class="login-screen">
                    <div class="app-title">
                        <button type="submit" name = "submit_button" value = "police"> Police </button> <br/><br/>
                        <button type="submit" name = "submit_button" value = "admin"> Admin </button> <br/><br/>
                        <button type="submit" name = "submit_button" value = "user"> User </button> <br/><br/>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>