<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/style_index.css" type="text/css">
    <body>
        <form action="/user_choices" method="post">
            <div class="login">
                <div class="login-screen">
                    <div class="app-title">
                        <button type="submit" name = "submit_button" value = "register"> Register </button> <br/><br/>
                        <button type="submit" name = "submit_button" value = "check_status"> Check Status </button> <br/><br/>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>